### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.csv
*.json

.vscode/
# Flask stuff:
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# Celery stuff
celerybeat-schedule
celerybeat.pid

/notebooks

config.cfg
output.csv
