celery==5.0.0
plotly==4.8.2
pandas==1.5.3
Flask==2.1.0
requests==2.21.0
scikit_learn==1.2.2
python-dotenv==0.14.0
redis==3.5.3
sqlalchemy==2.0.13
psycopg2==2.8.6
importlib-metadata==4.13.0
fsspec==2023.5.0
pydantic==2.4
Werkzeug==2.2.2
fastapi==0.104.0