{% extends "base.html" %}
{% block content %}
 <link rel="stylesheet" href="{{ url_for('static',filename='styles/about.css', version=3.7) }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">

<div class="main-body"> 

		<div>

				<h1> How it works? </h1>
				<p>This web application uses the official spotify API to gather your data and with a simple
		alrotithm it clusters it
				</p>
				<h2> Testing the flex </h2>
		</div>
</div>


{% endblock %}
