{% extends "base.html" %}
{% block content %}


<div class="w-full">

    <div class="flex flex-col container mx-auto py-12">

        <h1 id="loading-text" class="font-bold text-8xl text-amber-50 tracking-tighter">Loading Plots</h1>


        <div class="w-full container justify-center flex-col hidden" id="div-test">
            <h1 id="done-text" class="font-bold md:text-6xl text-3xl text-amber-50 tracking-tighter hidden py-12">We
                analyzed n songs, n
                playlists
                and created n
                clusters</h1>

            <div class="flex md:flex-row md:justify-center flex-col  items-center">

                <div class="flex flex-col justify-around gap-2 px-1">

                    <button
                        class="font-bold text-lg tracking-tighter pt-0.5 px-2 border-white border-2 text-amber-50 rounded-sm"
                        id="add-energy">energy
                    </button>

                    <button
                        class="font-bold text-lg tracking-tighter pt-0.5 px-2 border-white border-2 text-amber-50 rounded-sm"
                        id="add-tempo">tempo
                    </button>

                    <button
                        class="font-bold text-lg tracking-tighter pt-0.5 px-2 border-white border-2 text-amber-50 rounded-sm"
                        id="add-liveness">liveness
                    </button>

                    <button
                        class="font-bold text-lg tracking-tighter pt-0.5 px-2 border-white border-2 text-amber-50 rounded-sm"
                        id="add-loudness">loudness
                    </button>
                    <button
                        class="font-bold text-lg tracking-tighter pt-0.5 px-2 border-white border-2 text-amber-50 rounded-sm"
                        id="add-speechiness">speechiness
                    </button>
                    <button
                        class="font-bold text-lg tracking-tighter pt-0.5 px-2 border-white border-2 text-amber-50 rounded-sm"
                        id="add-danceability">danceability
                    </button>
                    <button
                        class="font-bold text-lg tracking-tighter pt-0.5 px-2 border-white border-2 text-amber-50 rounded-sm"
                        id="add-acousticness">acousticness
                    </button>

                </div>

                <div class="md:w-3/5 w-2/3">

                    <h1 class="font-bold text-2xl text-amber-50 tracking-tighter py-2 ">Radar Chart</h1>

                    <canvas id="radarChart" class="py-2"></canvas>






                </div>



                <div class="md:w-1/5 w-2/3">

                    <h1 class="font-bold text-2xl text-amber-50 tracking-tighter py-2 ">Pie Chart</h1>

                    <canvas id="pieChart" class="py-2  w-full"></canvas>

                    <p class="font-bold text-xl text-amber-50 tracking-tighter">Hola que tal como estan?</p>
                </div>

            </div>



        </div>

    </div>

</div>







<script src="{{ url_for('static', filename='js/plot.js') }}"></script>
<script>
    var taskId = '{{task_id | safe}}'


</script>

{% endblock %}